@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* styles.css */
.tagWrapContainer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Limite le nombre de lignes visibles */
  white-space: normal; /* Permet le retour à la ligne */
}

@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
  }
}

@font-face{
  font-family: "Stem";
  src:local("Stem-Regular"),
  url('./assets/fonts/Stem-Bold/Stem-Regular.ttf') 
}

body {
  font-family: 'Stem', sans-serif;
}

@media screen and (max-width: 480px) {
  .certification-card {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .certification-image {
    max-width: 100%;
    height: auto;
  }

  .heading {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .share-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-container {
    padding: 0 10px;
    max-width: 100%;
    margin: 0 auto;
  }
}
